<%= render 'shared/navbaradmin'%>
<div class="container">
<% if current_user && current_user.profile && current_user.profile.statut == "admin"%>
<h1>Initialisation du contenu de la Homepage (à ne faire qu'une fois)</h1>
<%= simple_form_for(@content) do |f| %>


<form class="row g-3">
  <div class="col-md-6">
    <%= f.input :typea, label:"Titre principal",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typeb, label:"Sous-titre principal",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typec, label:"Titre de la barre de navigation",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typed, label:"Lien Twitter",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typee, label:"Lien Facebook",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typef, label:"Lien Instagram",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typeg, label:"Lien Skype",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typeh, label:"Lien Linkedin",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typei, label:'Texte "à propos de moi"',  type:"text", classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typej, label:"Date de naissance",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typek, label:"Lieu de naissance",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>
  <div class="col-md-6">
    <%= f.input :typeq, label:"URL de mon site",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typel, label:"Téléphone",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typem, label:"Adresse",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typen, label:"E-mail",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typeo, label:'Texte "mes derniers ajouts"',  type:"text",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :typep, label:'Texte "me contacter"',  type:"text",classe:"form-control", placeholder:"Écrivez ici"%>
  </div>

  <div class="col-md-6">
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>

  <div class="col-12">
    <%= f.button  :submit, class:"btn btn-primary" %>
    <%= link_to 'Retour page Admin', pages_admin_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
  </div>
</form>
<% end %>
<% else%>
<h1>Vous n'avez pas accès à cette page</h1>
<%end%>
</div>
