<%= render 'shared/navbaradmin'%>
<div class="container">
<p id="notice"><%= notice %></p>
<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Type:</strong>
  <%= @article.typearray %>
</p>

<p>
  <strong>Papier:</strong>
  <%= @article.papierarray %>
</p>

<p>
  <strong>Cadre:</strong>
  <%= @article.cadrearray %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @article.statut %>
</p>


<%= link_to 'Modifier', edit_article_path(@article), class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
<%= link_to 'Retour page Admin', pages_admin_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
</div>
