<%= render 'shared/navbaradmin'%>
<p id="notice"><%= notice %></p>
<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Type:</strong>
  <%= @article.typearray %>
</p>

<p>
  <strong>Papier:</strong>
  <%= @article.papierarray %>
</p>

<p>
  <strong>Cadre:</strong>
  <%= @article.cadrearray %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @article.statut %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', pages_admin_path %>
