<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @actualite.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @actualite.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @actualite.date %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @actualite.lieu %>
</p>

<%= link_to 'Edit', edit_actualite_path(@actualite) %> |
<%= link_to 'Back', actualites_path %>
