<%= render 'shared/navbaradmin'%>
<div class="container">
<p id="notice"><%= notice %></p>
<%= cl_image_tag @actualite.photo.key, height: 300, width: 400, crop: :fill %>
<p>
  <strong>Title:</strong>
  <%= @actualite.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @actualite.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @actualite.date %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @actualite.lieu %>
</p>

<%= link_to 'Retour page Admin', pages_admin_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
</div>
