<body>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <%= render 'shared/navbaractualites'%>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Mon actualité</h2>
          <ol>
            <li><a href="<%=root_path%>">Accueil</a></li>
            <li>Actualités</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <section id="portfolio" class="portfolio section-bg">
          <div class="container">
            <body class="events-news-page">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <% @actualites = Actualite.all%>
                    <% if @actualites.length == 0%>
                     <h1>Pas d'actualité pour le moment...</h1>
                    <% else%>
                      <% @actualites.each do |act|%>
                        <article class="events-news-post">
                          <header class="entry-header">
                            <h2 class="entry-title"><%=act.title%></h2>
                            <div class="entry-meta flex align-items-center">
                              <div class="posted-author"><i ><%=act.lieu%></i></div>
                              <div class="post-comments"><p ><%=act.date%></p></div>
                            </div>
                          </header>
                          <figure>
                            <% if act.photo.key.nil?%>
                            <%else%>
                            <%= cl_image_tag act.photo.key%>
                            <%end%>
                          </figure>
                          <div class="entry-content">
                            <p><%=act.body%></p>
                          </div>
                        </article>
                      <%end%>
                    <%end%>
                  </div>
                </div>
              </div>
            </body>
          </div>
        </section>
      </div>
    </section>
  </main>
</body>


