<style>
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<%= render 'shared/navbaradmin'%>
<div class="container">
  <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">Articles</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Actualités</button>
  <button class="tablinks" onclick="openCity(event, 'Com')">Commandes</button>
  <button class="tablinks" onclick="openCity(event, 'Theme')">Gestion des thèmes</button>
  <button class="tablinks" onclick="openCity(event, 'Use')">Gestion des utilisateurs</button>





</div>
<% if current_user && current_user.profile && current_user.profile.statut == "admin"%>

<div id="London" class="tabcontent">



<div class="row">
  <div class="col-md-12">
    <h1 style="color:red;">Les articles</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="table-data__tool-right">
        <%= link_to 'Ajouter un article', new_article_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>titre</th>
            <th>Thème</th>

            <th>description</th>
            <th>prix sans option</th>
            <th>type</th>
            <th>papier</th>

            <th>status</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @articles = Article.all%>

      <% if @articles.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas d'article dans la base de données</td>
        </tr>
      <% else%>


      <% @articles.each do |art|%>
        <tr class="tr-shadow">
          <td><%= art.title%></td>
          <td><%= art.themearticle%></td>
          <td><%= art.body%></td>
          <td><%= art.price%></td>
          <td><%= art.typearray%></td>
          <td><%= art.papierarray%></td>

          <td><%= art.statut%></td>
          <td>
            <div class="table-data-feature">
              <button class="item" data-toggle="tooltip" data-placement="top" title="Modifier">
                <a class="fas fa-pen" href="<%=edit_article_path(art)%>"></a>
              </button>

              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=supprimer_article_path(articleid: art.id)%> "></a>
              </button>
              <button class="item" data-toggle="tooltip" data-placement="top" title="Voir">
                <a class="fas fa-eye" href="<%=article_path(art)%>"></a>
              </button>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>




        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>




</div>


<div id="Paris" class="tabcontent">
<div class="row">
  <div class="col-md-12">
    <h1 style="color:red;">Les messages</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Objet</th>
            <th>Message</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @messages = Message.all%>

      <% if @messages.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas de message dans la base de données</td>
        </tr>
      <% else%>
      <% @messages.each do |mess|%>
        <tr class="tr-shadow">
          <td><%= mess.nom%></td>
          <td><%= mess.email%></td>
          <td><%= mess.objet%></td>
          <td><%= mess.content%></td>
          <td>
            <div class="table-data-feature">
              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=effacer_message_path(messageid: mess.id)%> "></a>
              </button>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>



<div id="Tokyo" class="tabcontent">
<div class="row">
  <div class="col-md-12">
    <h1 style="color:red;">Les actualités</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="table-data__tool-right">
        <%= link_to 'Ajouter une actualité', new_actualite_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Contenu</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @actualites = Actualite.all%>

      <% if @actualites.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas d'actualités dans la base de données</td>
        </tr>
      <% else%>
      <% @actualites.each do |act|%>
        <tr class="tr-shadow">
          <td><%= act.title%></td>
          <td><%= act.lieu%></td>
          <td><%= act.date%></td>
          <td><%= act.body%></td>
          <td>
            <div class="table-data-feature">
              <button class="item" data-toggle="tooltip" data-placement="top" title="Modifier">
                <a class="fas fa-pen" href="<%=edit_actualite_path(act)%>"></a>
              </button>

              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=supprimer_actualite_path(actualiteid: act.id)%> "></a>
              </button>
              <button class="item" data-toggle="tooltip" data-placement="top" title="Voir">
                <a class="fas fa-eye" href="<%=actualite_path(act)%>"></a>
              </button>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<div id="Com" class="tabcontent">
<div class="row">
      <div class="col-md-12">
        <h1 style="color:red;">Mes commandes passées non finalisées</h1>
        <div class="table-data__tool">
          <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
              <div class="dropDownSelect2"></div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
            <thead>
              <tr>
                <th>commande n°</th>
                <th>date de commande</th>
                <th>valeur de la commande</th>
                <th>email du client</th>
                <th>statut</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @commandes = Commande.where(statut: "pending")%>
              <% if @commandes.length == 0 %>
                <tr class="tr-shadow">
                  <td>Pas de commande dans la base de données</td>
                </tr>
              <% else%>
                <% @commandes.each do |com|%>
                  <% @panier = Panier.where(id: com.panier_id)%>
                  <% @profile = Profile.where(id: @panier.last.profile_id)%>
                  <% @user = User.where(id: @profile.last.user_id)%>
                  <tr class="tr-shadow">
                    <td><%= com.id%></td>
                    <td><%= com.created_at.strftime("%d.%m.%Y") %></td>
                    <td><%= @panier.last.totalprice%> €</td>
                    <td><%= @user.last.email%></td>
                    <% if com.statut == "pending"%>
                      <td>non traitée</td>
                    <%end%>
                    <td>
                      <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Voir">
                          <a class="fas fa-eye" href="<%=commande_path(com)%>"></a>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr class="spacer"></tr>
                <% end%>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div id="Theme" class="tabcontent">
<div class="row">
  <div class="col-md-12">
    <h1 style="color:red;">La gestion des thèmes</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="table-data__tool-right">
        <%= link_to 'Ajouter un thème', new_theme_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Nbre d'articles sur ce thème</th>

            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @themes = Theme.all%>

      <% if @themes.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas de thème enregistré dans la base de données</td>
        </tr>
      <% else%>
      <% @themes.each do |theme|%>
        <% @art = Article.where(themearticle: theme.nom)%>
        <tr class="tr-shadow">
          <td><%= theme.nom%></td>
          <td><%= @art.length%></td>

          <td>
            <div class="table-data-feature">
              <% if @art.length == 0%>
              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=effacer_theme_path(themeid: theme.id)%> "></a>
              </button>
              <%end%>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div id="Use" class="tabcontent">
<div class="row">
  <div class="col-md-12">
    <h1 style="color:red;">La gestion des utilisateurs</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="table-data__tool-right">

      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>




            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @users = User.all%>

      <% if @users.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas d'utilisateur enregistré dans la base de données</td>
        </tr>
      <% else%>
      <% @users.each do |use|%>
        <% @pro = Profile.where(user_id: use.id)%>
        <tr class="tr-shadow">

          <td><%= use.id%></td>
          <td><%= @pro.last.last_name.upcase%></td>
          <td><%= @pro.last.first_name.capitalize%></td>
          <td><%= use.email%></td>
          <td><%= @pro.last.rue%> <%= @pro.last.postcode%> <%= @pro.last.ville%></td>

          <td>
            <div class="table-data-feature">
            <% if @pro.last.statut == "admin"%>

              <p style="color:red;">ADMIN</p>
            <%else%>

              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=effacer_utilisateur_path(userid: use.id)%> "></a>
              </button>

            <% end%>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>



<%else%>
<h1>Vous n'avez pas accès à cette page</h1>
<%end%>
</div>
<script >
function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

