<%= render 'shared/navbaradmin'%>
<div class="container">
<% if current_user && current_user.profile && current_user.profile.statut == "admin"%>
<div class="row">
  <div class="col-md-12">
    <h1 >Les articles</h1>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
          <div class="dropDownSelect2"></div>
        </div>
      </div>
      <div class="table-data__tool-right">
        <%= link_to 'Ajouter un article', new_article_path, class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
          <tr>
            <th>titre</th>
            <th>description</th>
            <th>prix sans option</th>
            <th>type</th>
            <th>papier</th>
            <th>cadre</th>
            <th>status</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      <% @articles = Article.all%>

      <% if @articles.length == 0 %>
        <tr class="tr-shadow">
          <td>Pas d'article dans la base de données</td>
        </tr>
      <% else%>
      <% @articles.each do |art|%>
        <tr class="tr-shadow">
          <td><%= art.title%></td>
          <td><%= art.body%></td>
          <td><%= art.price%></td>
          <td><%= art.typearray%></td>
          <td><%= art.papierarray%></td>
          <td><%= art.cadrearray%></td>
          <td><%= art.statut%></td>
          <td>
            <div class="table-data-feature">
              <button class="item" data-toggle="tooltip" data-placement="top" title="Modifier">
                <a class="fas fa-pen" href="<%=edit_article_path(art)%>"></a>
              </button>

              <button class="item" data-toggle="tooltip" data-placement="top" title="Effacer">
                <a class="fas fa-trash-alt" href="<%=supprimer_article_path(articleid: art.id)%> "></a>
              </button>
              <button class="item" data-toggle="tooltip" data-placement="top" title="Voir">
                <a class="fas fa-eye" href="<%=article_path(art)%>"></a>
              </button>
            </div>
          </td>
        </tr>
        <tr class="spacer"></tr>
        <% end%>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%else%>
<h1>Vous n'avez pas accès à cette page</h1>
<%end%>
</div>


