<body>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="../assets/photoavatar.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><p>Michel STAUMONT</p></h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/michel.staumont.9" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/michelstaumont/?hl=fr" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://join.skype.com/invite/E2miaRqnfHxW" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/michel-staumont-b4a3aa57/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="<%=root_path%>" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Accueil</span></a></li>

        <li><a href="<%= pages_actualites_path%>" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Actualités</span></a></li>
        <li><a href="<%= pages_gallery_path%>" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Galerie - E-shop</span></a></li>
        <% if current_user && current_user.profile%>
        <% @panier = Panier.find_by profile_id: current_user.profile.id, statut: "pending"%>
        <% if @panier.nil?%>
        <% else%>
        <li><a href="<%= pages_panier_path%>" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Voir mon panier (<%=@panier.contenu.count%>)</span></a></li>
        <%end%>
        <%end%>
        <% if current_user && current_user.profile%>
          <li><a href="<%=  pages_client_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Mon compte client</span></a></li>
        <%end%>
        <% if current_user && current_user.profile.nil?%>
          <li><a href="<%=  new_profile_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Remplir mon profil</span></a></li>
        <% elsif current_user && current_user.profile && current_user.profile.statut == "client"%>
          <li><a href="<%= pages_client_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Mon espace client</span></a></li>
          <li><a href="<%= destroy_user_session_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Se déconnecter</span></a></li>
        <% elsif current_user && current_user.profile && current_user.profile.statut == "admin"%>
          <li><a href="<%= pages_admin_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Mon espace admin</span></a></li>
          <li><a href="<%= destroy_user_session_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Se déconnecter</span></a></li>
        <%else%>
          <li><a href="<%= new_user_session_path%>" class="nav-link scrollto"><i class="bx bx-server"></i> <span>s'inscrire/se connecter</span></a></li>
        <%end%>

      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
  <main id="main">
    <% if  current_user && current_user.profile%>
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Compte client de <%=current_user.profile.first_name.capitalize%> <%=current_user.profile.last_name.upcase%></h2>
            <p>Ici vous pourrez visualiser votre profil, le modifier si nécessaire et suivre vos commandes.</p>
          </div>
          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Adresse:</h4>
                  <p><%= current_user.profile.rue%> <%=current_user.profile.postcode%> <%=current_user.profile.ville%></p>
                </div>
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p><%=current_user.email%></p>
                </div>
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Téléphone:</h4>
                  <p><%=current_user.profile.phone%></p>
                </div>
                <%= link_to 'Modifier', edit_profile_path(current_user.profile.id), class:"au-btn au-btn-icon au-btn--green au-btn--small"%>
              </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <div class="info">
                <% @paniers = Panier.where(profile_id: current_user.profile.id ,statut: "paid")%>
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <h4>Suivre mes commandes:</h4>
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Date</th>
                          <th scope="col">Montant</th>
                          <th scope="col">Suivi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% n = 1 %>
                        <% if @paniers.length == 0%>
                          <h4>pas de commande</h4>
                        <%end%>
                        <% if @paniers.length == 1%>
                          <% @commande = Commande.find_by panier_id: @paniers.last.id %>
                          <tr>
                            <th scope="row">1</th>
                            <td><%= @paniers.last.created_at.strftime("%d.%m.%Y") %></td>
                            <td><%=@paniers.last.totalprice%>€</td>
                            <td>
                              <%if @commande && @commande.envoi == "yes"%>
                                commande envoyée <br> numéro de suivi : <a><%=@commande.suivi%></a>
                              <% else%>
                                en cours
                              <%end%>
                            </td>
                          </tr>
                        <%end%>
                        <% if @paniers.length > 1%>
                          <% @paniers.each do |panier|%>
                            <% @commande = Commande.find_by panier_id: panier.id %>
                            <tr>
                              <th scope="row"><%=n%></th>
                              <td><%= panier.created_at.strftime("%d.%m.%Y") %></td>
                              <td><%=panier.totalprice%>€</td>
                              <td>
                                <%if @commande && @commande.envoi == "yes"%>
                                  commande envoyée <br> numéro de suivi : <a><%=@commande.suivi%></a>
                                <% else%>
                                  en cours
                                <%end%>
                                <% n = n + 1%>
                              </td>
                            </tr>
                          <%end%>
                        <% end%>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <%else%>
      <h1>Pour accéder à cette page, vous devez vous inscire et remplir votre profil</h1>
    <%end%>
  </main>
</body>
