<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <%= render 'shared/navbar'%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Michel STAUMONT</h1>
      <p>Photographe <span class="typed" data-typed-items="Actualités, Galerie, E-shop"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>À propos de moi</h2>
          <p>Chirurgien-dentiste retraité depuis 11 ans, je pratique la photographie depuis plus de 35 années. Auteur Photographe autodidacte et voyageur, ma démarche se veut sincère et de partage. Expositions, rencontres, édition ... restent l'aboutissement de mes observations.<br>Les tirages Fine Art personnels apportent la touche finale à mon travail d'Auteur Photographe.<br>Je suis membre du collectif INCARNAT depuis quelques années. Prix LEICA 1990 - Grand Prix d'auteur de la Fédération Française de Photographie 2005, sont les étapes marquantes de ma reconnaissance en photographie.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Michel STAUMONT<br>   Auteur Photographe</h3>
            <br>
            <br>
            <p class="fst-italic">

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Naissance:</strong> <span>8 Janvier 1948 à Belfort</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Site Web:</strong> <span>www.michelstaumont.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+33 661 526 441</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Adresse:</strong> <span>25, rue du cateau 59550 Fontaine au Bois</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>michel.staumont@wanadoo.fr</span></li>
                </ul>
              </div>

            </div>
            <p>


            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Skills Section ======= -->




    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Mes derniers ajouts photographiques</h2>
          <p>Vous trouverez ici mes six derniers ajouts photographiques. Pour voir l'ensemble de mes oeuvres, rendez-vous dans mon espace Galerie-Eshop.</p>
        </div>

      <!--  <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          <% @articles = Article.all.order("created_at DESC").first(6) %>
          <% @articles.each do |art|%>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= cl_image_tag art.photos.first.key , size:"410x300", crop:"fill", class:"img-fluid"%>
              <div class="portfolio-links">
                <a href="<%= art.photos.first.url%>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<%=art.title.capitalize%>"><i class="fas fa-eye"></i></a>
                <a href="<%= pages_choixoptions_path(art)%>" title="Acheter"><i class="fas fa-shopping-basket"></i></a>
              </div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Me contacter</h2>
          <p>Pour me joindre, c'est simple, servez-vous de mes coordonnées ou bien envoyez-moi un message via ce formulaire ci-dessous. J'y répondrai avec plaisir et dans les meilleurs délais.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adresse:</h4>
                <p>25, rue du cateau 59550 Landrecies (France)</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>michel.staumont@wanadoo.fr</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Portable:</h4>
                <p>+33 661 526 441</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20458.772412739418!2d3.6226389030040127!3d50.13594848371415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2889408f9bf4d%3A0x5d4a4fc4f35fbe6d!2sFontaine-au-Bois!5e0!3m2!1sfr!2sfr!4v1633639893054!5m2!1sfr!2sfr" width="460" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="info">

          <% @message = Message.new %>
            <%= simple_form_for(@message) do |f| %>
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">

                  <%= f.input :nom , id:"name",label: false,  type:"text", name:"name", required: true, class: "form-control", placeholder:"Votre nom"%>

                </div>
                <div class="form-group col-md-6">

                  <%= f.input :email , id:"email",label: false,  type:"text", name:"email", required: true, class: "form-control", placeholder:"Votre email"%>
                </div>
              </div>
              <div class="form-group">

                <%= f.input :objet , id:"subject",label: false,  type:"text", name:"subject", required: true, class: "form-control", placeholder:"Objet du message"%>
              </div>
              <div class="form-group">

                <%= f.input :content ,label: false,  type:"text", name:"message", required: true, class: "form-control", placeholder:"Écrivez votre message"%>
              </div>

              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          <% end%>
          </div>
</div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%= render 'shared/footer'%>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>
